alabaster==0.7.8
Babel==2.3.4
cycler==0.10.0
docutils==0.12
f90nml==0.18
imagesize==0.7.1
Jinja2==2.8
lmfit==0.9.3
MarkupSafe==0.23
matplotlib==1.5.1
netCDF4==1.2.4
numpy==1.11.0
pandas==0.18.1
pep8==1.7.0
progressbar2==3.6.2
py==1.4.31
pyFFTW==0.10.1
Pygments==2.1.3
pyparsing==2.1.4
pytest==2.9.2
python-dateutil==2.5.3
pytz==2016.4
scipy==0.17.1
seaborn==0.7.0
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.4.2
